/*App.css*/
html, body {
	padding: 0px;
	margin: 0px;
}
.game-wrapper {
	padding: 20px;
}
.display-wrapper {
	display: flex;
	flex-direction: row;
}
.display-box {
	font-family: 'Press Start 2P', cursive;
	font-size: 0.7rem;
    padding: 4px;
    border: 1px solid black;
    margin-top: 12px;
    font-weight: 100;
	position: relative;
	margin-right: 12px;
	/* flex-grow: 1; */
}